body {
    background-image: url("../images/background_main.jpg");
    font-family: "Motiva Sans", Sans-serif;
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.global_header {
    width: 100%;
    background: #171a21;
}

.menu_content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
    font-weight: normal;
    font-size: 14px;
    background-position: center top;
    min-width: 940px;
}

.menu_items {
    position: absolute;
    left: 200px;
    height: 104px;
    padding: 0;
    margin: 0;
    display: block;
}

.menu_objects {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
}

.game_container {
    width: 100%;
    height: 600px;
    background-size: cover;

}

.game_container_2 {
    width: 970px;
    height: 520px;
    padding: 5px;
    margin: auto;
    color: white;
    background-color: rgba( 0, 0, 0, 0.2 );
}

.game_screens_actions {
    height: 520px;

    display: inline-block;
}

.game_screens {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left;
}

.main_screen {
    position: relative;
    top: 30px;
    left: 30px;
    right: 30px;
    width: 642px;
    height: 353px;
}

.screen_menu {
    position: relative;
    top: 30px;
    left: 30px;
    right: 30px;
    width: 642px;
    height: 100px;
    text-align : center
}

.choose_image {
    position: relative;
    top: 5px;
    width: 190px;
    height: 100px;
    display: inline-block;
}

.main_screen img {
    width:100%;
}

.choose_image img {
    width: 100%;
}

.game_info {
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-left: 20px;
    color: #b8b6b4;
}

.image_element {
    margin-top: 10px;
}

.image_element_cover {
    border: 1px solid white;
    margin-top: 10px;
}

.game_info_picture {
    width: 100%;
    height: 28%;
    position: relative;
    top: 30px;
}

.image_element_2 {
    width: 100%;
}

.name {
    text-transform: uppercase;
    color: whitesmoke;
}

#description {
    font-size: 14px;
    display: inline;
}

.game_info_headers {
    color:whitesmoke;
    display: inline;
}

.game_info_body {
    display: inline;
}

.tags_container {
    width: 100%;
    height: 5%;
    text-align: center;
}

.tags_list {
    text-transform: lowercase;
    text-decoration: none;
    color: #9A9ECB;
    background-color: rgba(92, 97, 147, 0.5);
    border-radius: 3px;
}

.requirements_container {
    width: 100%;
    height: 330px;
    position: relative;
}

.description_div, .requirements {
    width: 970px;
    background-color: rgba( 0, 0, 0, 0.2 );
    margin: auto;
    text-align: center;
}

.requirements {
    height: 300px;
}

.game_description_header {
    color: white;
    text-align: center;
    margin: auto;
}

.minimum_req_container, .recommended_req_container {
    display: inline-block;
    width: 45%;
    height: 300px;
    float: left;
    color: #b8b6b4;
}

.min_req_list_container, .min_req_list, .rec_req_list_container, .rec_req_list {
    list-style-type: none;
    margin-left: 0px;
    line-height: 18px;
}

.recommended_req_container {
    float: right;
    margin-right: 60px;
}

strong {
    color: #b8b6b4;
}

.min_req_list_container {
    text-align: right;
}

.rec_req_list_container {
    text-align: left;
}

.os {
    color: #b8b6b4;
    display: inline-block;
    height: 22px;
    width: 100px;
}


.os_click {
    background-color: #191A2E;
    border-radius: 2px;
    color: #b8b6b4;
}

.os_container {
    background: -webkit-linear-gradient( left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 100%);
    height: 22px;
}

h2 {
    background: -webkit-linear-gradient( left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 100%);
}

.win_container {
    width: 970px;
    height: 300px;
}

.mac_container, .linux_container {
    display: none;
}

.game-detailed-description {
    color: #b8b6b4;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.game_detailed_description_expanded {
    color: #b8b6b4;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.br {

    height: 30px;
    width: 100%;
}

.description_div_container {
    width: 100%;
    position: relative;
}

.description_div_expanded {
    width: 970px;
    background-color: rgba(35,36,47,0.7);
    margin: auto;
    text-align: center;
}

.scroll-down {
    height: 30px;
    width: 100%;
    background-image: url("../images/underline_gradient.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    float: left;
}

.scroll-down-click {
    height: 30px;
    color: #b8b6b4;
    text-align: left;
    margin-left: 20px;
    background-image: url("../images/underline_gradient.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.scroll-down-click-hover {
    color: white;
}

.relative-games-container {
    position: relative;
    width: 100%;
    height: 320px;
}
.relative-games {
    margin: auto;
    width: 970px;
    height: 250px;
    background-color: rgba( 0, 0, 0, 0.2 );
}

.relative-games-header {
    position: relative;
    width: 100%;
    height: 50px;
}

.relative-games-body {
    position: relative;
    height: 50%;
    margin: 10px 10px 10px 10px;
}

#arrow-left {
    float: left;
    width: 30px;
    height: 120px;
    margin-right: 10px;
}

#arrow-right {
    display: inline-block;
    width: 30px;
    height: 120px;
    float: right;
    margin-left: 10px;
}

.relative-game-image, .relative-game-image-changed {
    height: 120px;
    display: inline-block;
    width: 237px;
    margin-right: 15px;
    margin-left: 15px;
}

.relative-game-changed {
    position: relative;
    height: 120px;
    display: none;
    width: 870px;
}

.relative-game-unchanged {
    height: 120px;
    position: relative;
    display: inline-block;
    width: 870px;
}

.game_objects {
    width: 100%;
}

.comments-container {
    display: block;
    padding: 0;
    margin: 0;
    min-height: 1000px;
}

.inner-review {
    padding: 0;
    margin: 0;
    height: 100%;
}

.inner-comment-container {
    width: 970px;
    margin: auto;
    font-size: 12px;
    height: 70px;
    color: white;
}

.container-header {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-weight: normal;
    font-size: 12px;
    color: #c6d4df;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.user-comment-box {
    background-color: rgba( 0, 0, 0, 0.2 );
    margin-bottom: 26px;
    height: 100%;
    width: 970px;
    margin: auto;
    padding-top: 25px;
}

.user-info {
    width: 184px;
    float: left;
    padding: 8px;
    opacity: 0.6;
}

.user-text {
    float: left;
    width: 650px;
    position: relative;
}

.content {
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #acb2b8;
    overflow-wrap: break-word;
    overflow: hidden;
}

.posted {
    margin: 10px 0 8px;
    font-size: 10px;
    font-style: italic;
    color: #626366;
}

.view-more {
    display: block;
    float: right;
    margin-right: 15px;
}

.view-more-a {
    color: #67c1f5;
    text-transform: uppercase;
    font-style: normal;
}

.control {
    margin: 8px 0;
    display: inline-block;
}

.was-it-useful {
    display: inline-block;
    margin-right: 9px;
    color: #8091a2;
    font-size: 12px;
    opacity: 0.6;
}

.yes {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #66c0f4 !important;
    background: #212c3d;
}

.inner-user-comment {
    margin-left: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
    color: white;
    border: 2px groove #454654;
}

.avatar-div {
    width: 50px;
    height: 50px;
    float: left;
}

.user-info-inner-div {
    font-size: 12px;
    color: white;
    display: inline-block;
}

.user-about {
    -webkit-margin-after: 0;
}

.comments-info {
    float: left;
    width: 300px;
    padding-left: 10px;
}

.comment-types {
    padding-right: 10px;
    /* display: inline-block; */
    float: right;
}

.comment-type {
    float: left;
    padding-right: 30px;
}

.comment-show {
    display: inline-block;
}

.add-comment-window {
    background-color: rgba( 0, 0, 0, 0.2 );
    margin-bottom: 26px;
    width: 970px;
    margin: auto;
    color: white;
    padding-top: 3px;
}

.add-review {
    font-size: 22px;
    margin-left: 25px;
    -webkit-margin-after: 0;
}

.would-you-recommend {
    margin-left: 25px;
    float: left;
    margin-right: 20px;
    font-size: 12px;
    padding-top: 4px;
}

.radio-yes, .radio-no {
    display: inline-block;
    height: 50px;
    font-size: 12px;
}

.review-content {
    padding: 0 20px 20px 20px;
}

.review-content-area {
    resize: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px inset #3F4155;
    color: grey;
}

.button-submit {
    float: right;
    margin-right: 20px;
}

.content-submit-button {
    height: 35px;
}








