#global_header {
    width: 100%;
    background: #171a21;
}

.menu_content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
    font-weight: normal;
    font-size: 14px;
    background-position: center top;
    min-width: 940px;
}

.menu_items {
    position: absolute;
    left: 200px;
    height: 104px;
    padding: 0;
    margin: 0;
    display: block;
}

.menu_objects {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
}

.auth_container {
    float: right;
    display: inline-block;
    width: 200px;
    height: 104px;
    text-align: center;
}

.login-logout {
    float: left;
    width: 200px;
}

.login-a {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    margin-top: 40px;
}

.username {
    float: left;
    color: wheat;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    font-size: 12px;
}

.options {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    padding-top: 30px;
    -webkit-margin-after: 0em;
}

.options-expanded {
    height: 100px;
    margin-left: 33px;
    margin-right: 33px;
    background-image: url("../images/menu_gradient_3.jpg");
    background-repeat: no-repeat;
}

.add-container {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0;
    font-size: 14px;
}

.login-logout-a {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 14px;
}

.add-container {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0;
    font-size: 14px;
}

