body {
    background-image: url("../images/background_main.jpg");
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Motiva Sans", Sans-serif;
}
.menu_content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
    font-weight: normal;
    font-size: 14px;
    background-position: center top;
    min-width: 940px;
}
#global_header {
    width: 100%;
    background: #171a21;
}
.menu_items {
    position: absolute;
    left: 200px;
    height: 104px;
    padding: 0;
    margin: 0;
    display: block;
}
.menu_objects {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
}
.menu_objects_hover {
    color: white;
}

.games_list_body {
    text-align : center
}

.popular_games_area {
    width: 970px;
    height: 520px;
    padding: 5px;
    margin: auto;
    background-color: rgba(35, 36, 47, 0.4);
}

.left_element {
    float: left;
    width: 642px;
    height: 361px;
}

h2 {
    color: white;
}
.first_right_element {
    position: relative;
    height: 180px;
    float: right;
    width: 323px;
}

.second_right_element {
    position: relative;
    height: 173px;
    float: right;
    width: 323px;
}

.game_list {
    height: 483px;
}

.game_objects_hover {
    -webkit-filter: brightness(125%);
}

.game_objects {
    width: 100%;
}

.three_left_large_elements {
    height: 363px;
}

.other_popular_games, .other_new_games {
    position: relative;
    height: 110px;
    left: 62px;
}

.small_game_objects {
    width: 190px;
    height: 106px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

#left_arrow, #right_arrow, #left_arrow_2, #right_arrow_2, #left_arrow_3, #right_arrow_3, #left_arrow_4, #right_arrow_4 {
    width: 35px;
    height: 106px;
}

.other_popular_games_changed, .other_new_games_changed {
    display: none;
    position: relative;
    height: 110px;
    left: 62px;
}

.other_popular_games_changed_hover, .other_new_games_changed_hover{
    display: block;
}

.popular_game_list {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
}

.popular_game_list_hover {
    color: white;
}

.small_game_objects_2 {
    width: 100%;
}

.auth_container {
    float: right;
    display: inline-block;
    width: 200px;
    height: 104px;
    text-align: center;
}

.login-logout {
    float: left;
    width: 200px;
}

.options {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    padding-top: 30px;
    -webkit-margin-after: 0em;
}

.add-container {
    display: inline-block;
}

.username {
    float: left;
    color: wheat;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    font-size: 12px;
}

.login-logout-a {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 14px;
}

.options-expanded {
    height: 100px;
    margin-left: 33px;
    margin-right: 33px;
    background-image: url("../images/menu_gradient_3.jpg");
    background-repeat: no-repeat;
}

.add-container {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0;
    font-size: 14px;
}

.mini-menu-container {
    position: relative;
    height: 40px;
    margin-top: 30px;
}

.mini-menu-inner-container {
    height: 40px;
    margin-left: 24.8%;
    margin-right: 24.8%;
    background-color: rgba( 62, 126, 167, 0.8);

}

#mini-menu-first-item {
    border-right: 1px solid rgba( 16, 21, 25, 0.3);
}

.search {
    width: 260px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

.login-a {
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    margin-top: 40px;
}

.inner-mini-menu-item {
    line-height: 40px;
}

.search-by-name {
    width: 260px;
    border-radius: 2px 2px 2px 2px;
    background-color: rgba(96, 135, 159, 0.6);
    border: 1px inset #3F4155;
    color: #d9dadd;
}

.menu-expanded {
    margin-left: 24.8%;
    width: 37%;
}

::placeholder {
    color: #d9dadd;
}
.mini-menu-item {
    height: 40px;
    width: 133px;
    display: inline-block;
    border-right: 1px solid rgba( 16, 21, 25, 0.3);
    text-align: center;
    color: #d9dadd;
}

.mini-menu-item-expanded {
    width: 180px;
    height: 150px;
    position: absolute;
    line-height: 30px;
    display: none;
}

.mini-menu-item-expanded-hover {
    width: 180px;
    height: 150px;
    display: block;
    background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
    position: absolute;
    color: black;
    border-top: 2px solid rgba( 16, 21, 25, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.mini-menu-item-hover{
    height: 40px;
    width: 133px;
    display: inline-block;
    border-right: 1px solid rgba( 16, 21, 25, 0.3);
    text-align: center;
    color: black;
    background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
}

.mini-menu-expanded-inner-item {
    text-decoration: none;
    color: black;
    line-height: 30px;
    display: block;
}

#mini-menu-first-item-expanded {
    height: 95px;
}

#mini-menu-second-item-expanded {
    height: 185px;
}

#mini-menu-third-item-expanded {
    height: 305px;
}

#mini-menu-fourth-item-expanded {
    height: 60px;
}

.mini-menu-expanded-inner-item-hover {
    text-decoration: none;
    color: #d9dadd;
    background-color: black;
    line-height: 30px;
    display: block;
}

.new_games_area {
    width: 970px;
    height: 520px;
    padding: 5px;
    margin: auto;
    background-color: rgba(35, 36, 47, 0.4);
}








